@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --creden-green: #59ce91;
  --creden-azul: #23246c;
}

body {
  font-family: "Poppins", sans-serif;
}

.creden-green {
  color: var(--creden-green);
}

.bg-creden-green {
  background-color: var(--creden-green);
}

.creden-azul {
  color: var(--creden-azul);
}

.bg-creden-azul {
  background-color: var(--creden-azul);
}

.border-creden-azul {
  border-color: var(--creden-azul);
}

.creden-bg-negro {
  background-color: #1e1e1d;
}

.creden-box-rounded {
  border-radius: 40px 10px 40px 10px;
}

.w-1-cols {
  width: 8.333%;
}

.w-2-cols {
  width: 16.666%;
}

.w-3-cols {
  width: 25%;
}

.w-4-cols {
  width: 33.333%;
}

.w-5-cols {
  width: 41.666%;
}

.w-6-cols {
  width: 50%;
}

.w-7-cols {
  width: 58.333%;
}

.w-8-cols {
  width: 66.666%;
}

.w-9-cols {
  width: 75%;
}

.w-10-cols {
  width: 83.333%;
}

.w-11-cols {
  width: 91.666%;
}

.w-12-cols {
  width: 100%;
}

.creden-hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.creden-h1 {
  font-family: Poppins, sans-serif;
  font-size: 48pt;
  font-weight: 400;
  line-height: 1.2;
}

.creden-cards {
  background-color: white;
  border: 2px solid var(--creden-azul);
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 1rem;
}

.creden-espaciado {
  letter-spacing: 0.44em;
  font-family: 'Myriad Pro', sans-serif;
}

.creden-poppins {
  font-family: 'Poppins', sans-serif;
}