---
import { Image } from 'astro:assets';
import logoImage from '../assets/logos/Recurso 3.png';
---

<header class="flex items-center justify-between px-6 py-4 shadow-sm sticky top-0 z-50 bg-white">
  <!-- Logo -->
  <a href="#" class="pl-12 hover:opacity-80 transition-opacity" aria-label="Home">
    <Image src={logoImage} alt="Credencial Logo" class="h-10" />
  </a>

  <!-- Nav -->
  <nav class="hidden md:flex gap-12 text-sm pr-12">
    <a href="#procesamiento" class="hover:text-blue-600">Procesamiento</a>
    <a href="#emision" class="hover:text-blue-600">Emisión</a>
    <a href="#adquirencia" class="hover:text-blue-600">Adquirencia</a>
    <a href="#nosotros" class="hover:text-blue-600">Nosotros</a>
    <a href="#contacto" class="hover:text-blue-600">Contacto</a>
  </nav>

</header>