---
import Card from "./Card.astro";
---

<section class="p-8">
  <div class="grid md:grid-cols-3 gap-4">
    <Card title="PROCESAMIENTO" text="Pagos rápidos y seguros en cada transacción digital. 99,7% de eficiencia operativa" />
    <Card title="EMISIÓN" text="Ofrecemos tarjetas bajo licencia Mastercard, Visa, Carnet y propias, para gestionar gastos, fidelizar usuarios y sumarle valor al negocio." />
    <Card title="ADQUIRENCIA" text="Desde transferencias instantáneas hasta pagos QR y contactless, ayudamos a reducir costos y mejorar el control financiero." />
  </div>
</section>
